{
    "openapi": "3.0.0",
    "info": {
        "title": "VolleyPass API",
        "description": "API para el sistema de gestión de voleibol VolleyPass",
        "contact": {
            "name": "VolleyPass Support",
            "email": "admin@volleypass.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "VolleyPass API Server"
        }
    ],
    "paths": {
        "/api/auth/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login para verificadores móviles",
                "description": "Autenticación de usuarios con permisos de verificador, administrador de liga o super administrador",
                "operationId": "dd51a484b7fa0f97c7680fdbde14cf5f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password",
                                    "device_name"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "verifier@volleypass.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "device_name": {
                                        "type": "string",
                                        "example": "iPhone 15 Pro"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login exitoso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "example": "1|abcdef123456..."
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "Bearer"
                                        },
                                        "expires_in": {
                                            "type": "integer",
                                            "example": 2592000
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Juan Pérez"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "verifier@volleypass.com"
                                                },
                                                "roles": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "example": [
                                                        "Verifier"
                                                    ]
                                                },
                                                "abilities": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "profile": {
                                                    "properties": {
                                                        "avatar_url": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "phone": {
                                                            "type": "string",
                                                            "nullable": true
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Credenciales inválidas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Credenciales inválidas"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Demasiados intentos de login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Demasiados intentos de login. Intente en 300 segundos."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Errores de validación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Cerrar sesión actual",
                "description": "Revoca el token de acceso actual del usuario",
                "operationId": "df9bdc6c7a6d9f20b983526b2ec0f698",
                "responses": {
                    "200": {
                        "description": "Sesión cerrada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Sesión cerrada exitosamente"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/auth/logout-all": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Cerrar sesión en todos los dispositivos",
                "description": "Revoca todos los tokens de acceso del usuario",
                "operationId": "cb4dc83917db0d5fff6f1f5a2562c05b",
                "responses": {
                    "200": {
                        "description": "Sesiones cerradas en todos los dispositivos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Sesión cerrada en todos los dispositivos (3 tokens revocados)"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/auth/user": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Obtener información del usuario autenticado",
                "description": "Retorna la información del usuario actual y detalles del token",
                "operationId": "015ae3b99f0678ec8fe0a02409751660",
                "responses": {
                    "200": {
                        "description": "Información del usuario",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Juan Pérez"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "verifier@volleypass.com"
                                                },
                                                "roles": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "example": [
                                                        "Verifier"
                                                    ]
                                                },
                                                "abilities": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "profile": {
                                                    "properties": {
                                                        "avatar_url": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "phone": {
                                                            "type": "string",
                                                            "nullable": true
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "token_info": {
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "example": "iPhone 15 Pro"
                                                },
                                                "abilities": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "expires_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/matches/{id}/start": {
            "post": {
                "tags": [
                    "Match Live"
                ],
                "summary": "Iniciar un partido",
                "operationId": "9e574ca680092d0b70100f61f512e0b0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del partido",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Partido iniciado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "match": {
                                                    "$ref": "#/components/schemas/VolleyMatch"
                                                },
                                                "first_set": {
                                                    "$ref": "#/components/schemas/MatchSet"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Partido iniciado exitosamente"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/matches/{id}/finish": {
            "post": {
                "tags": [
                    "Match Live"
                ],
                "summary": "Finalizar un partido",
                "operationId": "b7411742485772a95328fabeac23584c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del partido",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Partido finalizado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/VolleyMatch"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Partido finalizado exitosamente"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/matches/{id}/sets/start": {
            "post": {
                "tags": [
                    "Match Live"
                ],
                "summary": "Iniciar un nuevo set",
                "operationId": "6095ac6efbb3f2bd4c9ecc488119d887",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del partido",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Set iniciado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/MatchSet"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Set iniciado exitosamente"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/matches/{id}/sets/finish": {
            "post": {
                "tags": [
                    "Match Live"
                ],
                "summary": "Finalizar el set actual",
                "operationId": "7dce2adc321353ff0f496bda487e9fff",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del partido",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "home_score",
                                    "away_score"
                                ],
                                "properties": {
                                    "home_score": {
                                        "description": "Puntos del equipo local",
                                        "type": "integer"
                                    },
                                    "away_score": {
                                        "description": "Puntos del equipo visitante",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Set finalizado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/MatchSet"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Set finalizado exitosamente"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/matches/{id}/score": {
            "post": {
                "tags": [
                    "Match Live"
                ],
                "summary": "Actualizar marcador del set actual",
                "operationId": "47e5be0203b48836d5022d209b99e134",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del partido",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "home_score",
                                    "away_score"
                                ],
                                "properties": {
                                    "home_score": {
                                        "description": "Puntos del equipo local",
                                        "type": "integer"
                                    },
                                    "away_score": {
                                        "description": "Puntos del equipo visitante",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Marcador actualizado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "set": {
                                                    "$ref": "#/components/schemas/MatchSet"
                                                },
                                                "match": {
                                                    "$ref": "#/components/schemas/VolleyMatch"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Marcador actualizado exitosamente"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/matches/{id}/rotation": {
            "post": {
                "tags": [
                    "Match Live"
                ],
                "summary": "Actualizar rotación de jugadores",
                "operationId": "0cdb5ff0fba4474484a8a69b3b26c400",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del partido",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "team",
                                    "rotation"
                                ],
                                "properties": {
                                    "team": {
                                        "description": "Equipo (home o away)",
                                        "type": "string",
                                        "enum": [
                                            "home",
                                            "away"
                                        ]
                                    },
                                    "rotation": {
                                        "description": "Array de IDs de jugadores en orden de rotación",
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Rotación actualizada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "rotation": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Rotación actualizada exitosamente"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/matches/{id}/events": {
            "get": {
                "tags": [
                    "Match Live"
                ],
                "summary": "Obtener eventos del partido",
                "operationId": "62d927278d5436ef66fec28370fd5a9e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del partido",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "set_number",
                        "in": "query",
                        "description": "Número del set",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "event_type",
                        "in": "query",
                        "description": "Tipo de evento",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de eventos del partido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MatchEvent"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Match Live"
                ],
                "summary": "Registrar evento del partido",
                "operationId": "a59daf0a52ca55e9b91730bdda5370f4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del partido",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "event_type",
                                    "team_id"
                                ],
                                "properties": {
                                    "event_type": {
                                        "description": "Tipo de evento",
                                        "type": "string"
                                    },
                                    "event_subtype": {
                                        "description": "Subtipo de evento",
                                        "type": "string"
                                    },
                                    "team_id": {
                                        "description": "ID del equipo",
                                        "type": "integer"
                                    },
                                    "player_id": {
                                        "description": "ID del jugador",
                                        "type": "integer"
                                    },
                                    "description": {
                                        "description": "Descripción del evento",
                                        "type": "string"
                                    },
                                    "is_successful": {
                                        "description": "Si el evento fue exitoso",
                                        "type": "boolean"
                                    },
                                    "points_awarded": {
                                        "description": "Puntos otorgados",
                                        "type": "integer"
                                    },
                                    "coordinates_x": {
                                        "description": "Coordenada X",
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "coordinates_y": {
                                        "description": "Coordenada Y",
                                        "type": "number",
                                        "format": "float"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Evento registrado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/MatchEvent"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Evento registrado exitosamente"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/matches/{id}/status": {
            "get": {
                "tags": [
                    "Match Live"
                ],
                "summary": "Obtener estado completo del partido",
                "operationId": "3f19968ded3d21049b47b0b98bcc2540",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del partido",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Estado completo del partido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "match": {
                                                    "$ref": "#/components/schemas/VolleyMatch"
                                                },
                                                "sets": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/MatchSet"
                                                    }
                                                },
                                                "current_rotations": {
                                                    "type": "object"
                                                },
                                                "recent_events": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/MatchEvent"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/public/matches/scheduled": {
            "get": {
                "tags": [
                    "Public Matches"
                ],
                "summary": "Listar partidos programados",
                "operationId": "d815c837b9959d759d0399d9738e170f",
                "parameters": [
                    {
                        "name": "tournament_id",
                        "in": "query",
                        "description": "Filtrar por torneo",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "team_id",
                        "in": "query",
                        "description": "Filtrar por equipo",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "Filtrar por fecha (YYYY-MM-DD)",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de partidos programados",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/VolleyMatch"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/public/matches/live": {
            "get": {
                "tags": [
                    "Public Matches"
                ],
                "summary": "Listar partidos en vivo",
                "operationId": "b6a08489cffebe1976570472a8eb7aee",
                "responses": {
                    "200": {
                        "description": "Lista de partidos en vivo",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/VolleyMatch"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/public/matches/{id}": {
            "get": {
                "tags": [
                    "Public Matches"
                ],
                "summary": "Obtener detalles de un partido",
                "operationId": "51baca717c6461f58fd5532331b10f1e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del partido",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalles del partido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/VolleyMatch"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Partido no encontrado"
                    }
                }
            }
        },
        "/api/public/matches/{id}/players": {
            "get": {
                "tags": [
                    "Public Match Players"
                ],
                "summary": "Obtener listado de jugadores de un partido",
                "operationId": "de3ebede9925544b88c36df97cceaf29",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del partido",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Listado de jugadores del partido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "match_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "match_date": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-01-15T15:30:00Z"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "scheduled"
                                                },
                                                "tournament_name": {
                                                    "type": "string",
                                                    "example": "Copa Nacional 2024"
                                                },
                                                "venue_name": {
                                                    "type": "string",
                                                    "example": "Polideportivo Central"
                                                },
                                                "home_team": {
                                                    "properties": {
                                                        "team_id": {
                                                            "type": "integer",
                                                            "example": 5
                                                        },
                                                        "team_name": {
                                                            "type": "string",
                                                            "example": "Equipo A"
                                                        },
                                                        "logo": {
                                                            "type": "string",
                                                            "example": "https://example.com/logo.png"
                                                        },
                                                        "players": {
                                                            "type": "array",
                                                            "items": {
                                                                "properties": {
                                                                    "player_id": {
                                                                        "type": "integer",
                                                                        "example": 10
                                                                    },
                                                                    "name": {
                                                                        "type": "string",
                                                                        "example": "María García"
                                                                    },
                                                                    "jersey_number": {
                                                                        "type": "integer",
                                                                        "example": 7
                                                                    },
                                                                    "position": {
                                                                        "type": "string",
                                                                        "example": "Libero"
                                                                    },
                                                                    "is_captain": {
                                                                        "type": "boolean",
                                                                        "example": false
                                                                    },
                                                                    "is_starter": {
                                                                        "type": "boolean",
                                                                        "example": true
                                                                    },
                                                                    "birth_date": {
                                                                        "type": "string",
                                                                        "format": "date",
                                                                        "example": "1995-03-15"
                                                                    },
                                                                    "height": {
                                                                        "type": "integer",
                                                                        "example": 175
                                                                    },
                                                                    "weight": {
                                                                        "type": "integer",
                                                                        "example": 65
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "away_team": {
                                                    "properties": {
                                                        "team_id": {
                                                            "type": "integer",
                                                            "example": 8
                                                        },
                                                        "team_name": {
                                                            "type": "string",
                                                            "example": "Equipo B"
                                                        },
                                                        "logo": {
                                                            "type": "string",
                                                            "example": "https://example.com/logo2.png"
                                                        },
                                                        "players": {
                                                            "type": "array",
                                                            "items": {
                                                                "properties": {
                                                                    "player_id": {
                                                                        "type": "integer",
                                                                        "example": 15
                                                                    },
                                                                    "name": {
                                                                        "type": "string",
                                                                        "example": "Ana López"
                                                                    },
                                                                    "jersey_number": {
                                                                        "type": "integer",
                                                                        "example": 12
                                                                    },
                                                                    "position": {
                                                                        "type": "string",
                                                                        "example": "Atacante"
                                                                    },
                                                                    "is_captain": {
                                                                        "type": "boolean",
                                                                        "example": true
                                                                    },
                                                                    "is_starter": {
                                                                        "type": "boolean",
                                                                        "example": true
                                                                    },
                                                                    "birth_date": {
                                                                        "type": "string",
                                                                        "format": "date",
                                                                        "example": "1993-07-22"
                                                                    },
                                                                    "height": {
                                                                        "type": "integer",
                                                                        "example": 180
                                                                    },
                                                                    "weight": {
                                                                        "type": "integer",
                                                                        "example": 70
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "match_officials": {
                                                    "properties": {
                                                        "referee": {
                                                            "type": "string",
                                                            "example": "Carlos Mendoza"
                                                        },
                                                        "assistant_referee": {
                                                            "type": "string",
                                                            "example": "Luis Rodríguez"
                                                        },
                                                        "scorer": {
                                                            "type": "string",
                                                            "example": "Elena Vargas"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Partido no encontrado"
                    }
                }
            }
        },
        "/api/public/matches/{id}/teams/{teamId}/players": {
            "get": {
                "tags": [
                    "Public Match Players"
                ],
                "summary": "Obtener listado de jugadores de un equipo específico en un partido",
                "operationId": "f69a29feced7b72bf35d2ea08f00bb15",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del partido",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "teamId",
                        "in": "path",
                        "description": "ID del equipo",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Listado de jugadores del equipo en el partido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "match_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "team_id": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "team_name": {
                                                    "type": "string",
                                                    "example": "Equipo A"
                                                },
                                                "logo": {
                                                    "type": "string",
                                                    "example": "https://example.com/logo.png"
                                                },
                                                "is_home_team": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "players": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "player_id": {
                                                                "type": "integer",
                                                                "example": 10
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "María García"
                                                            },
                                                            "jersey_number": {
                                                                "type": "integer",
                                                                "example": 7
                                                            },
                                                            "position": {
                                                                "type": "string",
                                                                "example": "Libero"
                                                            },
                                                            "is_captain": {
                                                                "type": "boolean",
                                                                "example": false
                                                            },
                                                            "is_starter": {
                                                                "type": "boolean",
                                                                "example": true
                                                            },
                                                            "birth_date": {
                                                                "type": "string",
                                                                "format": "date",
                                                                "example": "1995-03-15"
                                                            },
                                                            "height": {
                                                                "type": "integer",
                                                                "example": 175
                                                            },
                                                            "weight": {
                                                                "type": "integer",
                                                                "example": 65
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Partido o equipo no encontrado"
                    }
                }
            }
        },
        "/api/public/tournaments": {
            "get": {
                "tags": [
                    "Public Tournaments"
                ],
                "summary": "Listar torneos públicos",
                "operationId": "d5b0daf3bb873ceae8c85a3d611325e9",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtrar por estado del torneo",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filtrar por tipo de torneo",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "description": "Filtrar por categoría",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de torneos públicos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Tournament"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/public/tournaments/{id}": {
            "get": {
                "tags": [
                    "Public Tournaments"
                ],
                "summary": "Obtener detalles de un torneo",
                "operationId": "05820e954c1c6838b1e5fee28a688968",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del torneo",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalles del torneo",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Tournament"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Torneo no encontrado"
                    }
                }
            }
        },
        "/api/public/tournaments/{id}/standings": {
            "get": {
                "tags": [
                    "Public Tournament Standings"
                ],
                "summary": "Obtener tabla de posiciones de un torneo",
                "operationId": "68fe36ee945432a6d1ad47e4310fb44c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del torneo",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tabla de posiciones del torneo",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "tournament_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "tournament_name": {
                                                    "type": "string",
                                                    "example": "Copa Nacional 2024"
                                                },
                                                "format": {
                                                    "type": "string",
                                                    "example": "round_robin"
                                                },
                                                "groups": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "group_id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "group_name": {
                                                                "type": "string",
                                                                "example": "Grupo A"
                                                            },
                                                            "standings": {
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "position": {
                                                                            "type": "integer",
                                                                            "example": 1
                                                                        },
                                                                        "team_id": {
                                                                            "type": "integer",
                                                                            "example": 5
                                                                        },
                                                                        "team_name": {
                                                                            "type": "string",
                                                                            "example": "Equipo A"
                                                                        },
                                                                        "matches_played": {
                                                                            "type": "integer",
                                                                            "example": 3
                                                                        },
                                                                        "wins": {
                                                                            "type": "integer",
                                                                            "example": 2
                                                                        },
                                                                        "losses": {
                                                                            "type": "integer",
                                                                            "example": 1
                                                                        },
                                                                        "sets_won": {
                                                                            "type": "integer",
                                                                            "example": 6
                                                                        },
                                                                        "sets_lost": {
                                                                            "type": "integer",
                                                                            "example": 4
                                                                        },
                                                                        "points_for": {
                                                                            "type": "integer",
                                                                            "example": 150
                                                                        },
                                                                        "points_against": {
                                                                            "type": "integer",
                                                                            "example": 120
                                                                        },
                                                                        "table_points": {
                                                                            "type": "integer",
                                                                            "example": 7
                                                                        },
                                                                        "set_ratio": {
                                                                            "type": "number",
                                                                            "format": "float",
                                                                            "example": 1.5
                                                                        },
                                                                        "point_ratio": {
                                                                            "type": "number",
                                                                            "format": "float",
                                                                            "example": 1.25
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "overall_standings": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "position": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "team_id": {
                                                                "type": "integer",
                                                                "example": 5
                                                            },
                                                            "team_name": {
                                                                "type": "string",
                                                                "example": "Equipo A"
                                                            },
                                                            "group_name": {
                                                                "type": "string",
                                                                "example": "Grupo A"
                                                            },
                                                            "matches_played": {
                                                                "type": "integer",
                                                                "example": 3
                                                            },
                                                            "wins": {
                                                                "type": "integer",
                                                                "example": 2
                                                            },
                                                            "losses": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "table_points": {
                                                                "type": "integer",
                                                                "example": 7
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Torneo no encontrado"
                    }
                }
            }
        },
        "/api/public/tournaments/{id}/groups/{groupId}/standings": {
            "get": {
                "tags": [
                    "Public Tournament Standings"
                ],
                "summary": "Obtener tabla de posiciones de un grupo específico",
                "operationId": "b7eb4fb3d072a01f2f9968e26fcb2137",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del torneo",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "groupId",
                        "in": "path",
                        "description": "ID del grupo",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tabla de posiciones del grupo",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "group_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "group_name": {
                                                    "type": "string",
                                                    "example": "Grupo A"
                                                },
                                                "tournament_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "tournament_name": {
                                                    "type": "string",
                                                    "example": "Copa Nacional 2024"
                                                },
                                                "standings": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "position": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "team_id": {
                                                                "type": "integer",
                                                                "example": 5
                                                            },
                                                            "team_name": {
                                                                "type": "string",
                                                                "example": "Equipo A"
                                                            },
                                                            "matches_played": {
                                                                "type": "integer",
                                                                "example": 3
                                                            },
                                                            "wins": {
                                                                "type": "integer",
                                                                "example": 2
                                                            },
                                                            "losses": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "sets_won": {
                                                                "type": "integer",
                                                                "example": 6
                                                            },
                                                            "sets_lost": {
                                                                "type": "integer",
                                                                "example": 4
                                                            },
                                                            "points_for": {
                                                                "type": "integer",
                                                                "example": 150
                                                            },
                                                            "points_against": {
                                                                "type": "integer",
                                                                "example": 120
                                                            },
                                                            "table_points": {
                                                                "type": "integer",
                                                                "example": 7
                                                            },
                                                            "set_ratio": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 1.5
                                                            },
                                                            "point_ratio": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 1.25
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Grupo o torneo no encontrado"
                    }
                }
            }
        },
        "/api/verify-qr": {
            "post": {
                "tags": [
                    "QR Verification"
                ],
                "summary": "Verificación principal de código QR",
                "description": "Verifica un código QR de carnet de jugador para eventos deportivos",
                "operationId": "33727eab12f8dcdca74b756d332d1443",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "qr_code",
                                    "verification_token",
                                    "scanner_id"
                                ],
                                "properties": {
                                    "qr_code": {
                                        "type": "string",
                                        "example": "QR123456789"
                                    },
                                    "verification_token": {
                                        "type": "string",
                                        "example": "TOKEN_ABC123"
                                    },
                                    "scanner_id": {
                                        "type": "string",
                                        "example": "SCANNER_001"
                                    },
                                    "event_data": {
                                        "properties": {
                                            "match_id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "event_type": {
                                                "type": "string",
                                                "example": "match_entry"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Verificación exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Carnet válido"
                                        },
                                        "can_play": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "response_time_ms": {
                                            "type": "integer",
                                            "example": 150
                                        },
                                        "player_info": {
[...]
